@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 576px;
  font-family: "League Spartan", sans-serif;
}

header .image-hero-1 {
  background-image: url(/images/mobile-image-hero-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 576px;
  height: 576px;
  position: relative;
}

header #nav-bar {
  display: flex;
  column-gap: 14rem;
}

#nav-logo {
  margin-top: 2rem;
}

#nav-hamburger {
  margin-left: 20px;
  margin-top: 2rem;
}

.nav-info {
  display: none;
}

#arrow-icons {
  display: flex;
  column-gap: 2.5rem;
  background-color: black;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem 1.5rem;
}

.first-test {
  padding: 4rem 2.5rem 0;
}

.first-test h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  padding: 0;
}

.shop-now {
  display: flex;
  column-gap: 16px;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 3rem 2.5rem;
  font-size: 12px;
}

footer img {
  width: 100%;
}

.second-text {
  padding: 4rem 2.5rem;
}

footer h5 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 16px;
}

p {
  color: Gray;
  font-size: 14px;
  line-height: 1.2rem;
}

@media (min-width: 1199px) {
  body {
    width: 100%;
  }

  header {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  header .image-hero-1 {
    width: 100%;
    height: 500px;
    background-image: url(/images/desktop-image-hero-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  footer {
    display: grid;
    grid-template-columns: 30% 39% 31%;
  }

  .first-test {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .first-test h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    padding: 0;
  }

  .first-test p {
    line-height: 23px;
  }

  .shop-now {
    padding: 2rem 6rem;
    font-size: 12px;
    color: gray;
  }

  #arrow-icons {
    display: none;
  }

  .section-two {
    position: relative;
  }

  #arrow-icons-1 {
    display: flex;
    column-gap: 2.5rem;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem 2.15rem;
  }

  #nav-hamburger {
    display: none;
    margin-left: 20px;
    margin-top: 2rem;
  }

  #nav-logo {
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .nav-info {
    margin-top: 2rem;
    margin-right: 2rem;
    display: flex;
    column-gap: 2rem;
  }
  header #nav-bar {
    display: flex;
    column-gap: 8rem;
  }
  a {
    color: white;
    text-underline-offset: 6px;
  }

  p1 {
    color: white;
  }
}
